@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  padding: 6px;
  text-align: center;
  /* font-family: "Climate Crisis", sans-serif; */
  font-family: "Kanit", sans-serif;
  /* font-family: "Heebo", sans-serif; */
  border: 2px solid blue;
}
