.Cell {
  position: relative;
  width: auto;
  border-radius: 1em;
}

.tetromino {
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.tetromino .shine {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px 4px;
  z-index: 10;
}

.tetromino.ghost {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.tetromino .ghost,
.shine {
  opacity: 0;
}

/* 
I: turquoise

J: blue

L: orange

O: yellow

S: green

T: purple

Z: red
*/

.tetromino__i {
  /* background-color: rgba(80, 227, 250, 1); */
  /* background-color: rgba(221, 253, 253, 1); */
  /* background-color: rgba(0, 190, 255, 1); */
  background-color: rgba(0, 180, 255, 1);
}

.tetromino__j {
  /* background-color: rgba(36, 95, 223, 1); */
  /* background-color: rgba(0, 45, 255, 1); */
  background-color: rgba(0, 120, 255, 1);
  /* background-color: #0075f2; */
}

.tetromino__l {
  /* background-color: rgba(223, 173, 36, 1); */
  /* background-color: rgba(255, 117, 0, 1); */
  background-color: rgba(245, 90, 10, 1);
  /* background-color: #fd9e02; */
  background-color: #fb8500;
}

.tetromino__o {
  background-color: rgba(255, 229, 66, 1);
  /* background-color: rgba(255, 230, 25, 1); */
  /* background-color: rgba(255, 200, 30, 1); */
  /* background-color: #ffdd4a; */
}

.tetromino__s {
  /* background-color: rgba(0, 229, 66, 1); */
  /* background-color: rgba(0, 215, 0, 1); */
  /* background-color: rgba(0, 155, 10, 1); */
  background-color: #69995d;
}

.tetromino__t {
  /* background-color: rgba(132, 61, 198, 1); */
  /* background-color: rgba(120, 0, 255, 1); */
  /* background-color: rgba(132, 0, 255, 1); */
  /* background-color: rgba(90, 0, 255, 1); */
  /* background-color: rgba(60, 0, 255, 1); */
  background-color: rgb(167, 94, 236);
}

.tetromino__z {
  /* background-color: rgba(240, 80, 195, 1); */
  /* background-color: rgba(221, 0, 0, 1); */
  /* background-color: rgba(255, 0, 0, 1); */
  background-color: rgba(255, 25, 55, 1);
}

/* https://rgbacolorpicker.com/ */
