.Cell {
  position: relative;
  width: auto;
  border-radius: 1em;
}

.tetromino {
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.tetromino .shine {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px 4px;
  z-index: 10;
}

.tetromino.ghost {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.tetromino .ghost,
.shine {
  opacity: 0;
}

/* 
I: turquoise

J: blue

L: orange

O: yellow

S: green

T: purple

Z: red
*/

.tetromino__i {
  /* background-color: rgba(80, 227, 250, 1); */
  /* background-color: rgba(100, 227, 250, 1); */
  /* background-color: rgba(221, 253, 253, 1); */
  /* background-color: rgba(0, 190, 255, 1); */
  /* background-color: rgba(0, 180, 255, 1); */
  /* background-color: #54c6eb; */
  /* background-color: #57b8ff; */
  /* background-color: #6ccff6; */
  background-color: #61dafb;
}

.tetromino__j {
  /* background-color: rgba(36, 95, 223, 1); */
  /* background-color: rgba(0, 45, 255, 1); */
  /* background-color: rgba(0, 120, 255, 1); */
  /* background-color: rgba(0, 120, 255, 1); */
  /* background-color: #3d52d5; */
  /* background-color: #1D3461; Delft Blue */
  background-color: #0075f2;
}

.tetromino__l {
  /* background-color: rgba(223, 173, 36, 1); */
  /* background-color: rgba(255, 117, 0, 1); */
  /* background-color: rgba(245, 90, 10, 1); */
  /* background-color: #fd9e02; */
  /* background-color: #fb8500; */
  /* background-color: #ff6700; */
  /* background-color: #fe6847; */
  /* background-color: #f7934c; */
  /* background-color: #ee8434; */
  /* background-color: #fc9f5b; */
  background-color: #fa824c;
}

.tetromino__o {
  /* background-color: rgba(255, 229, 66, 1); */
  /* background-color: rgba(255, 230, 25, 1); */
  /* background-color: rgba(255, 200, 30, 1); */
  /* background-color: #eac435; */
  /* background-color: #fbb13c; */
  /* background-color: #ffc15e; */
  /* background-color: #ffdd4a; */
  background-color: #e9d758;
}

.tetromino__s {
  /* background-color: rgba(0, 229, 66, 1); */
  /* background-color: rgba(0, 215, 0, 1); */
  /* background-color: rgba(10, 155, 90, 1); */
  /* background-color: #69995d; */
  /* background-color: #57a773; */
  /* background-color: #06d6a0; */
  /* background-color: #588157; */
  /* background-color: #2a9134; */
  /* background-color: #3fa34d; */
  /* background-color: #5bba6f; */
  background-color: #33ca7f;
}

.tetromino__t {
  /* background-color: rgba(132, 61, 198, 1); */
  /* background-color: rgba(120, 0, 255, 1); */
  /* background-color: rgba(132, 0, 255, 1); */
  /* background-color: rgba(90, 0, 255, 1); */
  /* background-color: rgba(60, 0, 255, 1); */
  /* background-color: rgb(167, 94, 236); */
  background-color: rgb(184, 118, 249);
  /* background-color: #758bfd; */
  /* background-color: #5e4ae3; */
  /* background-color: #6369d1; */
  /* background-color: #947bd3; */
  /* background-color: #fbd1a2; */
}

.tetromino__z {
  /* background-color: rgba(240, 80, 195, 1); */
  /* background-color: rgba(221, 0, 0, 1); */
  /* background-color: rgba(255, 0, 0, 1); */
  /* background-color: rgba(255, 25, 55, 1); */
  /* background-color: #e0777d; */
  /* background-color: #a30015; Carmine */
  /* background-color: #fb3640; */
  background-color: #ea2b1f;
}

/* https://rgbacolorpicker.com/ */
