.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  z-index: 100;
  border: 5px solid green;
}

.column {
  width: 33%;
}

.col-1,
.col-2,
.col-3 {
  height: 50vh;
  margin: 1em;
  border: 2px solid blue;
}

.title {
  margin: 2em;
}

.button {
  padding: 2em 4em;
  border: none;
  border-radius: 2.2em;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 60px;
  background: blue;
  font-size: 2em;
  color: #fff;
}

.button:hover {
  background: green;
  cursor: pointer;
}
