.Navbar {
  position: relative;
  height: 5em;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  border: 5px solid green;
}

#logo {
  margin: 25px 0 0 20px;
  float: left;
}

.nav-links {
  margin-right: 20px;
}

.nav-item {
  display: inline;
  /* float: right; */
  /* border: 2px solid gold; */
}

.nav-links a img {
  margin: 12px 10px 0 12px;
  text-decoration: none;
}

.nav-links a img:hover {
  background-color: red;
}

#logo2 {
  float: right;
  margin-top: 25px;
  /* border: 2px solid gold; */
}

/* RESOURCES */
/* https://blog.fontawesome.com/webfont-vs-svg/ */
/* https://rigorousthemes.com/blog/best-iconfinder-alternatives/ */
/* https://www.geeksforgeeks.org/how-to-create-icon-hover-effect-using-css/ */ ;
