.Navbar {
  position: relative;
  height: 5em;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  border: 5px solid green;
}

#logo {
  margin: 25px 0 0 20px;
  float: left;
}

.nav-item {
  display: inline;
}

#hamburger {
  /* position: absolute; */
  float: right;
  margin: 20px 20px 0 0;
  color: grey;
}

#hamburger:hover {
  cursor: pointer;
  /* color: #61dafb; */
  color: rgb(52, 20, 94);
}

.hamburger-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin: 20px 20px 0 0;
  border: 2px solid;
  color: grey;
}

.hamburger-icon {
  /* margin: 0.25em 0 0.25em 0; */
  margin-top: 1em;
}

.hamburger-icon:hover {
  cursor: pointer;
  color: rgb(52, 20, 94);
}

/* RESOURCES */
/* https://blog.fontawesome.com/webfont-vs-svg/ */
/* https://rigorousthemes.com/blog/best-iconfinder-alternatives/ */
/* https://www.geeksforgeeks.org/how-to-create-icon-hover-effect-using-css/ */

/* https://freefrontend.com/css-text-effects/ */
/* https://freefrontend.com/html-buttons-with-javascript/ */
/* https://freefrontend.com/react-js-buttons/ */

/* https://dev.to/webdeasy/top-20-css-buttons-animations-f41 */

/* https://fontawesome.com/v6/docs/web/use-with/react/ */
/* https://fontawesome.com/v6/docs/web/use-with/react/style */

/* https://www.npmjs.com/package/typewriter-effect */

/* https://htmldog.com/guides/css/advanced/ */

/* https://react-icons.github.io/react-icons */
