.Options {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15vw;
  height: 15vh;
  margin-bottom: 24.3em;
  margin-right: 9.9em;
  text-align: left;
  list-style-type: none;
  /* color: rgba(255, 255, 255, 0.5); */
  color: gray;
  background: rgba(0, 0, 0, 0.1);
}

.action {
  margin: 4px 0 0 4px;
}

.keypress {
  font-size: 1.25em;
}

.keypress-action {
  font-size: 1em;
}
