.Options {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25vw;
  margin: 0 1rem 25rem 0;
  list-style-type: none;
  text-align: left;
  /* color: rgba(255, 255, 255, 0.5); */
  color: gray;
}

.keypress {
  font-size: 1.45em;
}

.keypress-action {
  font-size: 1em;
  margin-left: 0.095rem;
}
