.Options {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25vw;
  margin: 0 0 20rem 0;
  list-style-type: none;
  text-align: left;
  /* color: rgba(255, 255, 255, 0.5); */
  color: gray;
}

.option {
  /* margin-top: 10px; */
}

.keypress {
  font-size: 1.5em;
}

.keypress-action {
  font-size: 1em;
  margin-left: 10px;
}
