.Preview {
  position: absolute;
  left: 72.2vw;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.1);
  /* border: 10px solid rgba(0, 0, 0, 0); */
  border: 10px solid red;
  border-radius: 10px;
}

.preview-board {
  display: grid;
  gap: 2px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 0 0 50px;
  width: 10vw;
  height: 10vh;
}
