.Preview {
  position: absolute;
  left: 72.2vw;
  max-width: 22rem;
  max-height: 22rem;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.1);
  /* border: 10px solid rgba(0, 0, 0, 0); */
}

.preview-board {
  display: grid;
  gap: 0.15em;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  min-width: 5rem;
  min-height: 5rem;
  margin: 2em 1em 0.5em 2em;
  padding: 0.1em;
}
