.SocialMediaIcons {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  margin-left: 18rem;
}

.icon {
  display: inline;
  font-size: 3.5em;
  margin: 0 0 1rem 0;
  color: rgb(32, 0, 64);
}

.icon:hover {
  /* color: rgb(184, 118, 249); */
  color: rgb(140, 93, 187);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function */
/* https://fontawesome.com/v6/docs/web/use-with/react/add-icons */
/* https://www.codecademy.com/resources/docs/css/filter-functions/hue-rotate */
