.SocialMediaIcons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  border: 2px solid blue;
}

.icon {
  /* display: inline; */
  /* right: 0; */
  font-size: 3.5em;
  margin: 0 0 1rem 0;
  /* color: rgb(32, 0, 64); */
  /* color: rgb(52, 20, 84); */
  color: gray;
}

.icon:hover {
  /* color: rgb(184, 118, 249); */
  /* color: rgb(140, 93, 187); */
  color: rgb(52, 20, 84);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function */
/* https://fontawesome.com/v6/docs/web/use-with/react/add-icons */
/* https://www.codecademy.com/resources/docs/css/filter-functions/hue-rotate */
