.SocialMediaIcons {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  margin-left: 18rem;
}

.icon {
  display: inline;
  margin: 2.5rem 1rem 1rem 1.5rem;
  text-decoration: none;
}

.icon:hover {
  filter: hue-rotate(90deg);
}
