.Stats {
  position: absolute;
  width: 25vw;
  list-style-type: none;
  /* color: rgba(255, 255, 255, 0.5); */
  color: red;
  border-radius: 10px;
  border: 10px solid red;
}

.Stats__left {
  right: 0;
  top: 22vh;
  text-align: left;
}

.Stats__right {
  right: 0;
  bottom: 0;
  margin: 0 20px 20px 0;
  text-align: left;
}

.Stats .value {
  font-size: 2.8rem;
  margin-bottom: 0.5em;
  /* color: rgba(255, 255, 255, 1); */
  color: blue;
}
