.Stats {
  position: absolute;
  width: 22vw;
  list-style-type: none;
  /* color: rgba(255, 255, 255, 0.5); */
  color: red;
  border: 2px solid green;
}

.Stats__left {
  right: 0;
  top: 22vh;
  text-align: left;
}

.Stats__right {
  right: 0;
  bottom: 2em;
  /* bottom: 0; */
  /* top: 22vh; */
  text-align: left;
}

.Stats .value {
  font-size: 2.8rem;
  margin-bottom: 0.5em;
  /* color: rgba(255, 255, 255, 1); */
  color: blue;
}
