.Stats {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  margin-top: 12px;
  list-style-type: none;
  text-align: right;
  /* color: rgba(255, 255, 255, 0.5); */
  color: gray;
}

.value {
  font-size: 2.8rem;
  margin-bottom: 0.5em;
  font-weight: 100;
  color: rgb(52, 20, 94);
}
